.hero-table{
    width: 90%;
    margin: 100px auto 0;
    background: white;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    @include flex(row, center, center);
    table{
        padding: 25px 0;
        width: 100%;
        tr{
            display: grid;
            grid-template-columns: repeat(3, auto);
            ul{
                @include flex(row, center, center);
                li{
                    padding: 0 10px;
                }
            }
        }
    }
}

@media screen and (max-width: 520px){
    .hero-table{
        @include flex(column, center, center);
        table{
            tr{
                grid-template-columns: 1fr;
                grid-auto-rows: minmax(100px, 1fr);
            }
        }
    }
}